@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

.recentTag {
  font-family: "Manrope", sans-serif;
}

.categoryTag {
  font-family: "Manrope", sans-serif;
}

.starIcon {
  color: rgb(255, 204, 0)
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}