@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

p {
  font-family: "Manrope", sans-serif;
}

span {
  font-family: "Manrope", sans-serif;
}

.fontFamily {
  font-family: "Manrope", sans-serif;
}
